<div class="container">
<div class="one">
    <button id="button1" class="btn btn-primary">View My Speeches</button>
</div>
<div class="one">
    <button id="button2" class="btn btn-primary">Submit a New Speech</button>
</div>
<table border="1">
<tr>
    <td>Speech 1</td>
</tr>

<tr>
    <td>Speech 2</td>
</tr>

<tr>
    <td>Speech 3</td>
</tr>

</table>

<div>
    <input type="textarea">
</div>

<div>
    <button class="btn btn-primary"style="margin-top: 300px;margin-right: 30px;" (click)="create()">Create</button>
    <button class="btn btn-success" style="margin-top: 300px;margin-right: 30px;" (click)="save()">Save</button>
    <button class="btn btn-danger" style="margin-top: 300px;margin-right: 30px;" (click)="delete()">Delete</button>
</div>









</div>